vti_encoding:SR|utf8-nl
vti_author:SR|A-A19AB74D72334\\Administrator
vti_modifiedby:SR|A-A19AB74D72334\\Administrator
vti_timelastmodified:TR|31 Mar 2008 14:25:51 -0000
vti_timecreated:TR|31 Mar 2008 14:25:51 -0000
vti_cacheddtm:TX|31 Mar 2008 14:25:51 -0000
vti_filesize:IR|2537
vti_cachedlinkinfo:VX|S|layout.css S|../images/background.gif
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/background.gif
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\documents and settings\\administrator\\my documents\\my web sites\\mysite2/c\:/documents and settings/administrator/my documents/my web sites/mysite2:TW|31 Mar 2008 14:25:51 -0000
